<a href="https://colab.research.google.com/github/Thanseer-S/DSA_COLAB/blob/main/PANDAS_CSTUDY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("IMDB-Movie-Data.csv")

print(data)

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

In [9]:
print("Shape of dataset:", data.shape)

print("\nFirst few rows of the dataset:\n", data.head())

print("\nColumn names:", data.columns)

print("\nData types:\n", data.dtypes)

print("\nMissing values:\n", data.isnull().sum())

Shape of dataset: (1000, 12)

First few rows of the dataset:
    Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

Column names: Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

Data types:
 Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

Missing values:
 Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [10]:
print("\nNumber of duplicate rows:", data.duplicated().sum())

Number of duplicate rows: 0

In [13]:
data_cleaned = data.drop_duplicates()

print("\nShape of the cleaned dataset:", data_cleaned.shape)

Shape of the cleaned dataset: (1000, 12)

In [14]:
data_cleaned.rename(columns={'Title': 'Movie_Title'}, inplace=True)

In [15]:
unique_genres = data_cleaned['Genre'].unique()
print("\nUnique Genres:")
print(unique_genres)

Unique Genres:
['Action,Adventure,Sci-Fi' 'Adventure,Mystery,Sci-Fi' 'Horror,Thriller'
 'Animation,Comedy,Family' 'Action,Adventure,Fantasy' 'Comedy,Drama,Music'
 'Comedy' 'Action,Adventure,Biography' 'Adventure,Drama,Romance'
 'Adventure,Family,Fantasy' 'Biography,Drama,History'
 'Animation,Adventure,Comedy' 'Action,Comedy,Drama' 'Action,Thriller'
 'Biography,Drama' 'Drama,Mystery,Sci-Fi' 'Adventure,Drama,Thriller'
 'Drama' 'Crime,Drama,Horror' 'Action,Adventure,Drama' 'Drama,Thriller'
 'Action,Adventure,Comedy' 'Action,Horror,Sci-Fi' 'Adventure,Drama,Sci-Fi'
 'Action,Adventure,Western' 'Comedy,Drama' 'Horror'
 'Adventure,Drama,Fantasy' 'Action,Crime,Thriller' 'Action,Crime,Drama'
 'Adventure,Drama,History' 'Crime,Horror,Thriller' 'Drama,Romance'
 'Comedy,Drama,Romance' 'Horror,Mystery,Thriller' 'Crime,Drama,Mystery'
 'Drama,Romance,Thriller' 'Drama,History,Thriller' 'Action,Drama,Thriller'
 'Drama,History' 'Action,Drama,Romance' 'Drama,Fantasy' 'Action,Sci-Fi'
 'Adventure,Drama,War' 'Action,Comedy,Fantasy' 'Biography,Comedy,Crime'
 'Crime,Drama' 'Comedy,Crime,Drama' 'Action,Comedy,Crime'
 'Animation,Drama,Fantasy' 'Horror,Mystery,Sci-Fi'
 'Drama,Mystery,Thriller' 'Crime,Drama,Thriller' 'Biography,Crime,Drama'
 'Crime,Mystery,Thriller' 'Action,Horror,Thriller' 'Romance,Sci-Fi'
 'Action,Fantasy,War' 'Action,Biography,Drama' 'Drama,Horror,Mystery'
 'Adventure,Drama,Family' 'Adventure,Comedy,Romance' 'Action'
 'Adventure,Crime,Mystery' 'Comedy,Family,Musical'
 'Adventure,Comedy,Drama' 'Drama,Horror,Thriller' 'Drama,Music'
 'Mystery,Thriller' 'Mystery,Thriller,Western' 'Comedy,Family'
 'Biography,Comedy,Drama' 'Drama,Western' 'Drama,Mystery,Romance'
 'Action,Drama,Mystery' 'Action,Adventure,Crime'
 'Adventure,Sci-Fi,Thriller' 'Action,Comedy,Mystery' 'Thriller,War'
 'Action,Adventure,Thriller' 'Drama,Fantasy,Romance'
 'Action,Drama,History' 'Animation,Adventure,Family' 'Adventure,Horror'
 'Drama,Romance,Sci-Fi' 'Action,Adventure,Family' 'Action,Comedy'
 'Comedy,Romance' 'Horror,Mystery' 'Drama,Family,Fantasy' 'Sci-Fi'
 'Drama,War' 'Drama,Fantasy,Horror' 'Crime,Drama,History'
 'Horror,Sci-Fi,Thriller' 'Action,Drama,Sport' 'Adventure,Biography,Drama'
 'Biography,Drama,Thriller' 'Action,Adventure,Mystery' 'Drama,Horror'
 'Comedy,Crime' 'Drama,Fantasy,War' 'Action,Adventure,Romance'
 'Action,Drama,War' 'Drama,Musical,Romance' 'Drama,Sci-Fi,Thriller'
 'Action,Drama,Sci-Fi' 'Drama,Sci-Fi' 'Adventure,Fantasy' 'Thriller'
 'Biography,Drama,Romance' 'Action,Adventure' 'Action,Fantasy'
 'Action,Drama,Horror' 'Comedy,Music,Romance' 'Biography,Drama,Sport'
 'Action,Horror' 'Comedy,Horror,Thriller' 'Crime,Drama,Music'
 'Action,Sci-Fi,Thriller' 'Drama,Horror,Sci-Fi' 'Drama,Sport'
 'Comedy,Horror' 'Comedy,Fantasy,Romance' 'Comedy,Fantasy'
 'Comedy,Drama,Fantasy' 'Adventure,Comedy,Horror' 'Comedy,Mystery'
 'Action,Mystery,Sci-Fi' 'Action,Crime,Fantasy' 'Comedy,Fantasy,Horror'
 'Animation,Action,Adventure' 'Action,Comedy,Family' 'Comedy,Sci-Fi'
 'Action,Biography,Crime' 'Adventure,Comedy' 'Comedy,Music'
 'Comedy,Drama,Horror' 'Action,Horror,Romance' 'Action,Drama,Fantasy'
 'Action,Mystery,Thriller' 'Action,Adventure,Horror'
 'Animation,Family,Fantasy' 'Adventure,Horror,Mystery'
 'Action,Horror,Mystery' 'Adventure,Comedy,Family' 'Action,Crime,Mystery'
 'Comedy,Drama,Family' 'Action,Crime,Sport' 'Mystery,Sci-Fi,Thriller'
 'Sci-Fi,Thriller' 'Adventure,Drama,Horror' 'Biography,History,Thriller'
 'Adventure,Comedy,Sci-Fi' 'Fantasy,Horror' 'Action,Fantasy,Thriller'
 'Comedy,Romance,Sport' 'Animation,Action,Comedy' 'Drama,Fantasy,Thriller'
 'Action,Comedy,Romance' 'Action,Fantasy,Horror' 'Mystery,Romance,Sci-Fi'
 'Comedy,Drama,Thriller' 'Comedy,Western' 'Drama,History,War'
 'Fantasy,Horror,Thriller' 'Drama,Horror,Musical' 'Drama,Family'
 'Romance,Sci-Fi,Thriller' 'Animation,Fantasy' 'Drama,Mystery,War'
 'Action,Drama,Family' 'Adventure,Drama,Western' 'Drama,Music,Romance'
 'Comedy,Romance,Western' 'Adventure,Drama' 'Drama,Thriller,War'
 'Drama,Fantasy,Mystery' 'Comedy,Crime,Thriller' 'Animation,Comedy,Drama'
 'Action,Comedy,Sci-Fi' 'Drama,Romance,War' 'Adventure,Fantasy,Mystery'
 'Mystery,Romance,Thriller' 'Biography,Drama,Mystery'
 'Animation,Drama,Romance' 'Comedy,Horror,Romance' 'Action,Thriller,War'
 'Action,Comedy,Horror' 'Action,Crime,Sci-Fi' 'Crime,Thriller'
 'Comedy,Horror,Sci-Fi' 'Crime,Drama,Fantasy' 'Drama,Fantasy,Music'
 'Action,Comedy,Sport' 'Fantasy,Mystery,Thriller' 'Adventure'
 'Adventure,Biography' 'Adventure,Biography,Crime' 'Comedy,Drama,Musical'
 'Comedy,Family,Romance' 'Biography,Drama,Family' 'Drama,Fantasy,Musical'
 'Adventure,Family' 'Adventure,Comedy,Fantasy' 'Drama,Family,Music'
 'Comedy,Family,Fantasy']

In [23]:
data_cleaned['Num_Genres'] = data_cleaned['Genre'].apply(lambda x: len(x.split(',')))

In [25]:

print(data_cleaned.columns)

Index(['Rank', 'Movie_Title', 'Genre', 'Description', 'Director', 'Actors',
       'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore', 'Num_Genres'],
      dtype='object')

In [26]:
top_5_movies_by_rating = data_cleaned[['Movie_Title', 'Rating']].sort_values(by='Rating', ascending=False).head(5)
print("\nTop 5 movies by Rating:")
print(top_5_movies_by_rating)

Top 5 movies by Rating:
          Movie_Title  Rating
54    The Dark Knight     9.0
80          Inception     8.8
117            Dangal     8.8
36       Interstellar     8.6
249  The Intouchables     8.6

In [28]:
highest_revenue_movie = data_cleaned[['Movie_Title', 'Revenue (Millions)']].sort_values(by='Revenue (Millions)', ascending=False).head(1)
lowest_revenue_movie = data_cleaned[['Movie_Title', 'Revenue (Millions)']].sort_values(by='Revenue (Millions)', ascending=True).head(1)
print("\nHighest revenue movie:")
print(highest_revenue_movie)
print("\nLowest revenue movie:")
print(lowest_revenue_movie)

Highest revenue movie:
                                   Movie_Title  Revenue (Millions)
50  Star Wars: Episode VII - The Force Awakens              936.63

Lowest revenue movie:
          Movie_Title  Revenue (Millions)
231  A Kind of Murder                 0.0

In [29]:
avg_rating_by_director = data_cleaned.groupby('Director')['Rating'].mean().reset_index()
print("\nAverage rating by Director:")
print(avg_rating_by_director)

Average rating by Director:
                Director  Rating
0             Aamir Khan    8.50
1    Abdellatif Kechiche    7.80
2              Adam Leon    6.50
3             Adam McKay    7.00
4          Adam Shankman    6.30
..                   ...     ...
639         Xavier Dolan    7.55
640          Yimou Zhang    6.10
641     Yorgos Lanthimos    7.20
642          Zack Snyder    7.04
643        Zackary Adler    5.10

[644 rows x 2 columns]

In [30]:
movies_per_year = data_cleaned.groupby('Year')['Movie_Title'].count().reset_index()
print("\nMovies per Year:")
print(movies_per_year)

Movies per Year:
    Year  Movie_Title
0   2006           44
1   2007           53
2   2008           52
3   2009           51
4   2010           60
5   2011           63
6   2012           64
7   2013           91
8   2014           98
9   2015          127
10  2016          297

In [31]:
high_rating_high_revenue = data_cleaned[(data_cleaned['Rating'] > 8) & (data_cleaned['Revenue (Millions)'] > 100)]
print("\nMovies with Rating > 8 and Revenue > 100M:")
print(high_rating_high_revenue[['Movie_Title', 'Rating', 'Revenue (Millions)']])

Movies with Rating > 8 and Revenue > 100M:
                                      Movie_Title  Rating  Revenue (Millions)
0                         Guardians of the Galaxy     8.1              333.13
6                                      La La Land     8.3              151.06
36                                   Interstellar     8.6              187.99
50     Star Wars: Episode VII - The Force Awakens     8.1              936.63
54                                The Dark Knight     9.0              533.32
67                             Mad Max: Fury Road     8.1              153.63
74                                       Zootopia     8.1              341.26
76                                   The Avengers     8.1              623.28
77                           Inglourious Basterds     8.3              120.52
80                                      Inception     8.8              292.57
82                        The Wolf of Wall Street     8.2              116.87
83                                      Gone Girl     8.1              167.74
92                                       The Help     8.1              169.71
99                                   The Departed     8.5              132.37
114  Harry Potter and the Deathly Hallows: Part 2     8.1              380.96
124                         The Dark Knight Rises     8.5              448.13
138                                Shutter Island     8.1              127.97
144                              Django Unchained     8.4              162.80
241                                    Inside Out     8.2              356.45
427                          The Bourne Ultimatum     8.1              227.14
499                                            Up     8.3              292.98
634                                        WALLÂ·E     8.4              223.81
645                                   Gran Torino     8.2              148.09
688                                   Toy Story 3     8.3              414.98
772                      How to Train Your Dragon     8.1              217.39

In [32]:
group_by_director = data_cleaned.groupby('Director').agg({'Rating': 'mean', 'Revenue (Millions)': 'mean'}).reset_index()
print("\nAverage Rating and Revenue by Director:")
print(group_by_director)

Average Rating and Revenue by Director:
                Director  Rating  Revenue (Millions)
0             Aamir Khan    8.50            1.200000
1    Abdellatif Kechiche    7.80            2.200000
2              Adam Leon    6.50           82.956376
3             Adam McKay    7.00          109.535000
4          Adam Shankman    6.30           78.665000
..                   ...     ...                 ...
639         Xavier Dolan    7.55           43.223188
640          Yimou Zhang    6.10           45.130000
641     Yorgos Lanthimos    7.20            4.405000
642          Zack Snyder    7.04          195.148000
643        Zackary Adler    5.10            6.530000

[644 rows x 3 columns]

In [33]:
group_by_year = data_cleaned.groupby('Year').agg({'Movie_Title': 'count', 'Rating': 'mean'}).reset_index()
group_by_year.rename(columns={'Movie_Title': 'Movies_Count'}, inplace=True)
print("\nMovies count and average rating by Year:")
print(group_by_year)

Movies count and average rating by Year:
    Year  Movies_Count    Rating
0   2006            44  7.125000
1   2007            53  7.133962
2   2008            52  6.784615
3   2009            51  6.960784
4   2010            60  6.826667
5   2011            63  6.838095
6   2012            64  6.925000
7   2013            91  6.812088
8   2014            98  6.837755
9   2015           127  6.602362
10  2016           297  6.436700

In [43]:
print(data_cleaned.columns)
data_cleaned['Profitability'] = data_cleaned['Revenue (Millions)']

Index(['Rank', 'Movie_Title', 'Genre', 'Description', 'Director', 'Actors',
       'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore', 'Num_Genres', 'Profitability'],
      dtype='object')

In [44]:
top_10_profitable = data_cleaned[['Movie_Title', 'Profitability']].sort_values(by='Profitability', ascending=False).head(10)
print("\nTop 10 Most Profitable Movies:")
print(top_10_profitable)

Top 10 Most Profitable Movies:
                                    Movie_Title  Profitability
50   Star Wars: Episode VII - The Force Awakens         936.63
87                                       Avatar         760.51
85                               Jurassic World         652.18
76                                 The Avengers         623.28
54                              The Dark Knight         533.32
12                                    Rogue One         532.17
119                                Finding Dory         486.29
94                      Avengers: Age of Ultron         458.99
124                       The Dark Knight Rises         448.13
578             The Hunger Games: Catching Fire         424.65

In [46]:
def categorize_by_rating(rating):
    if rating >= 8:
        return 'High'
    elif rating >= 5:
        return 'Medium'
    else:
        return 'Low'

data_cleaned['Rating_Category'] = data_cleaned['Rating'].apply(categorize_by_rating)

print("\nFinal DataFrame with Rating Categories:")
print(data_cleaned[['Movie_Title', 'Rating', 'Rating_Category']].head())

Final DataFrame with Rating Categories:
               Movie_Title  Rating Rating_Category
0  Guardians of the Galaxy     8.1            High
1               Prometheus     7.0          Medium
2                    Split     7.3          Medium
3                     Sing     7.2          Medium
4            Suicide Squad     6.2          Medium

In [47]:
def calculate_movie_score(row):
    score = (row['Rating'] * 10) + row['Revenue (Millions)']
    return score

In [48]:
data_cleaned['Movie_Score'] = data_cleaned.apply(calculate_movie_score, axis=1)

In [49]:
print("\nMovies with their Scores:")
print(data_cleaned[['Movie_Title', 'Rating', 'Revenue (Millions)', 'Movie_Score']].head())

Movies with their Scores:
               Movie_Title  Rating  Revenue (Millions)  Movie_Score
0  Guardians of the Galaxy     8.1              333.13       414.13
1               Prometheus     7.0              126.46       196.46
2                    Split     7.3              138.12       211.12
3                     Sing     7.2              270.32       342.32
4            Suicide Squad     6.2              325.02       387.02